{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}

    <nav style="text-align: right;">
        <ul style="list-style-type: none; margin: 10; padding: 0;">
            <li style="display: inline; margin-right: 10px;"><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
            <li style="display: inline; margin-right: 20px;"><a href="{{ url_for('register') }}">Registrarme</a></li>
        </ul>
    </nav>


    <h1>Bienvenido a UBU Replay</h1>
    <p>
        Haz click en 
        <a href="{{ url_for('register') }}">Registrarme</a> 
        si es la primera vez que utilizas UBU Replay, o 
        <a href="{{ url_for('login') }}">Inicia sesión</a>
         si ya lo has hecho con anterioridad
    </p>
    <button onclick="location.href='/register'">Registrarme</button>
    <button onclick="location.href='/login'">Iniciar sesión</button>
{% endblock %}
