{% extends 'base.html' %}

{% block title %}Access Denied{% endblock %}

{% block content %}
    <h1>Paginas web denegadas</h1>
    <p>Las sesiones no guardarán tu actividad cuando estés en estas páginas web</p>

    <form method="post" action="{{ url_for('denied_web') }}">
        <input type="text" name="url" placeholder="Introduce la URL" required>
        <button type="submit">Agregar</button>
    </form>

    <ul>
        {% for site in denied_sites %}
            <li>
                {{ site.sitio_web.main_url }}
                <form method="post" action="{{ url_for('remove_denied_site', site_id=site.id) }}" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <!-- Botón para regresar al menú principal -->
    <div style="margin-top: 20px;">
    <button onclick="window.location.href='{{ url_for('user_main') }}'" style="padding: 10px 20px; font-size: 16px;">
        Volver al Menú Principal
    </button>
</div>

{% endblock %}
