{% extends 'base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}

<h1>Bienvenido a tu perfil</h1>

<h2>Sesiones por Sitio Web</h2>
<table border="1" cellpadding="5" style="width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th style="text-align: left;">Sitio Web</th>
            <th style="text-align: center;">Nº Sesiones</th>
        </tr>
    </thead>
    <tbody>
        {% for site, count in webs_counts %}
            <tr>
                <!-- Trunca la URL después del dominio para mejor visualización -->
                <td>
                    <a href="{{ site }}" target="_blank">
                        {{ site.split('?')[0] if '?' in site else site.split('#')[0] if '#' in site else site }}
                    </a>
                </td>
                <td style="text-align: center;">{{ count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div style="margin-top: 20px;">
    <button onclick="location.href='/denied_web'" style="padding: 10px 20px; font-size: 16px;">Sitios web denegados</button>
    <button onclick="location.href='/track_session'" style="padding: 10px 20px; font-size: 16px;">Track Sessions</button>
    <button id="toggleTrackingButton" data-tracking="{{ 'true' if tracking_enabled else 'false' }}"
            class="{{ 'tracking-active' if tracking_enabled else 'tracking-inactive' }}">
        {{ 'Desactivar Tracking' if tracking_enabled else 'Activar Tracking' }}
    </button>
</div>

<script>
    const toggleTrackingButton = document.getElementById('toggleTrackingButton');

    toggleTrackingButton.addEventListener('click', () => {
        const isTrackingEnabled = toggleTrackingButton.dataset.tracking === 'true';

        fetch('/toggle_tracking', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ enable: !isTrackingEnabled }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.message) {
                // Cambiar el estado y texto del botón
                toggleTrackingButton.dataset.tracking = (!isTrackingEnabled).toString();
                toggleTrackingButton.textContent = isTrackingEnabled ? 'Activar Tracking' : 'Desactivar Tracking';
                toggleTrackingButton.classList.toggle('tracking-active', !isTrackingEnabled);
                toggleTrackingButton.classList.toggle('tracking-inactive', isTrackingEnabled);
            } else {
                alert(data.error || 'Error al cambiar el estado del tracking.');
            }
        })
        .catch(error => console.error('Error:', error));
    });
</script>

{% endblock %}